# Directories
log/
testsub/

# Vim temp files
*.swp

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
parta
*.exe
*.out
*.app

a3/*.log
